:root {
    --background: null;
    --foreground: null;
    --lightDir: 0px 0px;
    --shadow: rgba(0,0,0,0.5);
}

number-slider {
    position: relative;
    z-index: 1;
    display: flex;
    font-family: monospace;
    box-shadow: var(--shadowDistance) 5px rgba(0,0,0,0.5);
}

#nodeSlider input[type = "range"] {
    width: 23%;
}

number-slider input[type = "range"] {
    width: 20%;
    appearance: none;
    height: 3.33px;
    margin: 5px;
    background: var(--foreground);
    box-shadow: var(--lightDir) var(--shadow);
}

number-slider input[type = "range"]::-webkit-slider-thumb {
    width: 20px - 6.66px;
    height: 20px - 6.66px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--background);
    border: 3.33px solid var(--foreground);
    box-shadow: var(--lightDir) *  var(--shadow);
}

number-slider input[type = "range"]::-moz-range-thumb {
    width: 20px - 6.66px;
    height: 20px - 6.66px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--background);
    border: 3.33px solid var(--foreground);
    box-shadow: var(--lightDir) var(--shadow);
}

number-slider input[type = "number"] {
    background: var(--background);
    color: var(--foreground);
    border: none;
    margin: 0px;
    font-weight: bold;
    font-family: monospace;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 40px;
    text-shadow: var(--lightDir) var(--shadow);
}

number-slider input[type=number]::-webkit-inner-spin-button,
number-slider input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}