:root {
    --background-color: beige;
    --draw-color: rgb(60, 60, 60);
    --text-size: 12;
    --line-width: 2;
    --node-radius: 6;

    --ui-color: wheat;
    --ui-color-dark: tan;
    --ui-font-size: 15px;
}

.ui {
    position: relative;
    z-index: 1;
}

.ui > button {
    color: var(--draw-color);
    background-color: var(--ui-color);
    border-style: none;
    box-shadow: 2px 2px var(--draw-color);
    transition-duration: 0.2s;
    font-size: var(--ui-font-size);
    margin-right: 4px;
}

.ui > button:hover {
    background-color: var(--ui-color-dark);
}

#interactionDialog {
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: var(--ui-font-size);
    color: var(--draw-color);
    background-color: var(--ui-color);
    border: solid 2px var(--draw-color);
    padding: 3px;
    margin: 0px;
}