body {
    /* Background */
    background-image: radial-gradient(circle at 100% 100%, #666, #777, #333);
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Globals */
    font-family: monospace;
    color: rgba(255, 255, 255, 0.7);
}

/* Glow */
.glow {
    text-shadow:
        0 0 4px #fff,
        0 0 10px #ead591;
}

/* Pages */
div.panel {
    text-align: center;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0,0,0,0.2);
}
#projectList {
    list-style-type: none;
    padding: 0;
}

#projectList li {
    border: 5px inset rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
}
#projectList li:hover {
    border: 5px outset rgba(0, 0, 0, 0.4);
    background-color: rgba(128, 128, 128, 0.1);
    cursor: pointer;
}
#projectList li p.project-title {
    font-weight: bold;
}
#projectList li p.project-timestamp {
    text-align: right;
}
#projectList li p {
    margin: 5px;
}

/* Navigation bar */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2b2b;
    box-shadow: 4px 4px hsla(0, 0%, 0%, 0.75);
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

ul.nav li a:hover {
    background-color: #111;
}
